$base-green: #55BB06;
$base-dark-green: #40a61b;
$base-white: #FFFFFF;
$base-gray : #B9B9B9;
$base-light-gray: #F5F5F5;
$base-light-gray-hover: #EBEBEB;
$base-dark-gray: #E1E1E1;
$base-deep-light-blue: #EAF0FA;
$base-button-blue: #7284E4;
$base-blue: #5763B3;
$base-dark: #707276;
$base-deep-dark: #202123;
$base-orange: #FF9900;
$base-red: #FF3724;

$base-font: 'Open Sans', Arial, sans-serif;
$arial-font: Arial, sans-serif;
